<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
      
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Product title</th>
                        <th>Order date</th>
                        <th>Price</th>
                        <th>Customer name</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Angular2</td>
                        <td>11/08/2017</td>
                        <td>20000</td>
                        <td>Srini</td>
                    </tr>
                     <tr>
                        <td>2</td>
                        <td>Angular2</td>
                        <td>11/08/2017</td>
                        <td>20000</td>
                        <td>Ganesh</td>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
</div>